@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$font: "Inter", sans-serif;

#pc-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-05-17/YSsjQV47Mw.png)
		no-repeat center;
	background-size: cover;
	z-index: 2;
	.home-page {
		position: relative;
		width: 100%;
		height: auto;

		.heroSection {
			display: flex;
			align-items: center;
			position: relative;
			width: 100%;
			height: 700px;
			overflow: hidden;
			margin-top: 70px;
			margin-left: 108px;
			.heroBackground {
				.container {
					position: relative;
					flex-direction: column;
					justify-content: space-between;
					.qualityBadge {
						display: flex;
						align-items: center;
						gap: 15px;
						margin-bottom: 35px;
						margin-left: -30px;
						.badgeIcon {
							width: 70px;
							height: 67px;
						}
						.badgeText {
							color: #fe753b;
							font-family: $font;
							font-size: 16px;
							font-weight: 600;
							line-height: 16px;
							text-transform: uppercase;
							letter-spacing: 8px;
						}
					}
					.heroContent {
						width: 588px;
						height: 137px;
						.heroTitle {
							font-family: Luckiest Guy, var(--default-font-family);
							margin-bottom: 20px;
							.discountPercent {
								display: block;
								color: #363636;
								font-size: 80px;
								font-weight: 800;
								line-height: 96px;
								text-transform: capitalize;
							}
							.discountDescription {
								display: block;
								color: #363636;
								font-size: 60px;
								font-weight: 800;
								line-height: 80px;
								text-transform: capitalize;
							}
						}
						.heroDescription {
							color: #585858;
							font-family: Recursive, var(--default-font-family);
							font-size: 16px;
							font-weight: 400;
							line-height: 30px;
							margin-bottom: 39px;
							max-width: 639px;
						}
						.heroActions {
							display: flex;
							align-items: center;
							margin-bottom: 50px;
							.shopButton {
								display: flex;
								align-items: center;
								justify-content: space-between;
								width: 190px;
								height: 54px;
								background: #fe753b;
								border-radius: 50px;
								border: none;
								padding: 0 25px;
								color: #ffffff;
								font-family: $font;
								font-size: 18px;
								font-weight: 600;

								cursor: pointer;
								transition: background-color 0.3s ease;
								&:hover {
									background-color: #e56a34;
								}
								.buttonIcon {
									width: 26px;
									height: 26px;
									background: url("/img/icons/homepage/buttonIcon.svg")
										no-repeat center;
									background-size: cover;
								}
							}
						}
						.reviewsContainer {
							display: flex;
							align-items: center;
							.reviewContainer {
								display: flex;
								align-items: center;
								gap: 10px;
								margin-left: 32px;
							}

							.circles {
								display: flex;
								position: relative;
							}

							.circle {
								width: 48px;
								height: 48px;
								border-radius: 50%;
								background-color: #c278c2;
								border: 3px solid white;
								position: relative;
								overflow: hidden;
								margin-left: -15px;

								&:first-child {
									margin-left: 0;
								}
							}

							.avatar {
								object-fit: cover;
								border-radius: 50%;
							}

							.highlighted {
								background-color: #f89c1c;
								display: flex;
								justify-content: center;
								align-items: center;

								span {
									color: white;
									font-weight: 600;
									font-size: 16px;
								}
							}
							.text {
								color: #000;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
							}
						}
					}

					.pagination {
						display: flex;
						align-items: center;
						gap: 15px;
						width: 26px;
						height: 22px;
						color: var(--Color-3, #1d256b);
						font-family: $font;
						font-size: 15px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						align-items: center;
						.arrowRight {
							transform: rotate(180deg);
						}
						
					}
				}
			}
		}
	}
}
