@import "/scss/pc/homepage/homepage";
@import "/scss/variables.scss";
@import "/scss/reset.scss";
/* HEADER */
#pc-wrap {
	.topBar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 1920px;
		height: 50px;
		background-color: #5b7c8d;
		.container {
			position: relative;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			left: -200px;
			.socialIcons {
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;
				color: white;
				width: 169.735px;
				height: 14.771px;
				gap: 20px;
			}
			.announcement {
				color: #fff;
				font-family: $font;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
			.contactInfo {
				position: relative;
				display: flex;
				align-items: center;
				gap: 10px;
				.contactNumber {
					color: #fff;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}
				.contactEmail {
					color: #fff;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}
				span {
					color: #fff;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}
		}
	}
	.top {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		.container {
			position: relative;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			.logo {
				margin-top: 10px;
				width: 210px;
				height: 85.643px;
			}
			.navigation {
				margin-top: 10px;
				position: relative;
				display: flex;
				justify-content: space-between;
				color: var(--Color-3, #1d256b);
				font-family: $font;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: 30px; /* 187.5% */
				gap: 40px;
			}
			.headerActions {
				display: flex;
				align-items: center;
				flex-direction: row;
				justify-content: space-between;
				margin-top:10px;
				gap: 10px;
				.languageCurrency {
					display: flex;
					position: relative;
					flex-direction: row;
					align-items: center;
				}
				.headerIcons {
					gap: -30px;
				}
			}
		}
	}
}
