#pc-wrap {
	.tabsContainer {
    position: relative;
		background-color: #fff;
		border-radius: 12px;
		padding: 24px;
    width: 950px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
		overflow-x: auto;
	}

	.tabHeader {
		border-bottom: 1px solid #e0e0e0;
		.MuiTab-root {
			font-weight: 500;
			color: #888;
			text-transform: none;
			min-width: 120px;
		}
		.Mui-selected {
			color: #ff5a5f;
			border-bottom: 2px solid #ff5a5f;
		}
	}

	.propertyTable {
		margin-top: 20px;

		.header {
			display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 100px;
			padding: 16px;
			background-color: #f5f5f5;
			border-radius: 8px;
			font-weight: 600;
			font-size: 12px;

			> div {
				flex: 1;
			}
		}

		.item {
			display: flex;
      flex-direction: row;
      justify-content: space-between;
			align-items: center;
      gap:10px;
			padding: 16px;
			border-bottom: 1px solid #e0e0e0;
			background-color: #f5f5f5;
			border-radius: 8px;
			font-weight: 600;
			font-size: 12px;

			.image {
				width: 70px;
				height: 70px;
				border-radius: 6px;
				overflow: hidden;
				margin-right: 16px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.titleSection {
				flex: 1;

				div {
					&:first-child {
            font-size: 10px;
						font-weight: 600;
					}
				}

				.subtitle {
          font-size: 10px;
					color: #666;
				}

				.price {
          font-size: 10px;
					margin-top: 4px;
					font-weight: 700;
				}
			}

			.date {
        font-size: 10px;
				flex: 1;
			}

			.status {
				flex: 1;
        font-size: 10px;
				background-color: #e6f0ff;
				color: #3366ff;
				padding: 4px 12px;
				border-radius: 20px;
				text-align: center;
				max-width: fit-content;
			}

			.view {
				flex: 1;
			}

			.actions {
				flex: 1;
				display: flex;
				gap: 10px;

				button {
					min-width: 0;
					color: #333;

					&:hover {
						color: #ff5a5f;
					}
				}
			}
		}
	}

	.pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 32px;
		font-size: 14px;
		color: #666;

		.arrow {
			margin: 0 12px;
			cursor: pointer;

			&:hover {
				color: #ff5a5f;
			}
		}
	}
}
